.clearfix, body header div#header-container, body header nav, body header nav ul, body header nav ul li ul.sub-nav-list, body section, body aside {
    zoom: 1;
}

    .clearfix:after, body header div#header-container:after, body header nav:after, body header nav ul:after, body header nav ul li ul.sub-nav-list:after, body section:after, body aside:after, .clearfix:before, body header div#header-container:before, body header nav:before, body header nav ul:before, body header nav ul li ul.sub-nav-list:before, body section:before, body aside:before {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    .clearfix:after, body header div#header-container:after, body header nav:after, body header nav ul:after, body header nav ul li ul.sub-nav-list:after, body section:after, body aside:after {
        clear: both;
    }

body, header, section, footer, article, h1, h2, h3, h4, h5, h6, input, button, label, p, fieldset, nav, ul, li, a, span, strong, em {
    margin: 0;
    padding: 0;
    border: 0;
}

div, h1, h3, h4, h5, h6, header, footer, body, section, nav, article, aside {
    display: block;
}

body {
    background-color:mediumpurple;
    background: -webkit-linear-gradient(#D593FF 0, #8F19EF 165px, #9215f2 100%) fixed;
    background: -moz-linear-gradient(#D593FF 0, #8F19EF 165px, #9215f2 100%) fixed;
    background: -o-linear-gradient(#D593FF 0, #8F19EF 165px, #9215f2 100%) fixed;
    background: linear-gradient(#D593FF 0, #8F19EF 165px, #9215f2 100%) fixed;
    font: 14px normal Arial;
    color: white;
}

    body header {
        padding-top: 25px;
        padding-bottom: 5px;
        padding-right: 15px;
        padding-left: 15px;
    }

        body header div#header-container div#logo-container {
            float: left;
            position: relative;
        }

        body header div#header-container div#reg-form-container {
            float: right;
            position: relative;
            right: 5%;
            top: 50%;
        }

            body header div#header-container div#reg-form-container div {
                text-align: right;
            }

                body header div#header-container div#reg-form-container div label {
                    width: 50px;
                    margin: 5px;
                }

                body header div#header-container div#reg-form-container div input {
                   background: #9215f2; /* Old browsers */
                   background: -moz-linear-gradient(top, #e570e7 0%, #c85ec7 90%, #a849a3 100%); /* FF3.6+ */
                   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e570e7), color-stop(90%,#c85ec7), color-stop(100%,#a849a3)); /* Chrome,Safari4+ */
                   background: -webkit-linear-gradient(top, #e570e7 0%,#c85ec7 90%,#a849a3 100%); /* Chrome10+,Safari5.1+ */
                   background: -o-linear-gradient(top, #e570e7 0%,#c85ec7 90%,#a849a3 100%); /* Opera 11.10+ */
                   background: -ms-linear-gradient(top, #e570e7 0%,#c85ec7 90%,#a849a3 100%); /* IE10+ */
                   background: linear-gradient(to bottom, #e570e7 0%,#c85ec7 90%,#a849a3 100%); /* W3C */
                   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */
                    width: 130px;
                    border: 1px solid #603382;
                    border-radius: 10px;
                    padding: 2px 5px;
                    margin: 5px;
                }

            body header div#header-container div#reg-form-container button {
               background:#9215F2; /* Old browsers */
               background: -moz-linear-gradient(top, #e570e7 0%, #c85ec7 90%, #a849a3 100%); /* FF3.6+ */
               background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e570e7), color-stop(90%,#c85ec7), color-stop(100%,#a849a3)); /* Chrome,Safari4+ */
               background: -webkit-linear-gradient(top, #e570e7 0%,#c85ec7 90%,#a849a3 100%); /* Chrome10+,Safari5.1+ */
               background: -o-linear-gradient(top, #e570e7 0%,#c85ec7 90%,#a849a3 100%); /* Opera 11.10+ */
               background: -ms-linear-gradient(top, #e570e7 0%,#c85ec7 90%,#a849a3 100%); /* IE10+ */
               background: linear-gradient(to bottom, #e570e7 0%,#c85ec7 90%,#a849a3 100%); /* W3C */
               filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */
               margin-left: auto;
                margin-right: auto;
                font-weight: bold;
                border: 1px solid #603382;
                border-style: outset;
                border-radius: 10px;
                padding: 5px 8px;
                color:white;
                border-bottom-color:white;
                box-shadow:1px 1px 1px #ffffff inset;
            }

                body header div#header-container div#reg-form-container button:hover {
                    background-color: #8949b9;
                    border-style: inset;
                }

        body header nav {
            display: inline-block;
            width: 75%;
            margin: 20px 20px 20px 20px;
            padding: 12px;
            border: 1px solid #000;
            border-top-right-radius: 20px;
            border-bottom-right-radius:20px;
            border-bottom-left-radius: 20px;
            border-top-left-radius:20px;
            
        }

            body header nav ul.nav-list {
                list-style-type: none;
            }

            body header nav ul li {
                float: left;
                margin: 0;
            }

                body header nav ul li a {
                    text-decoration: none;
                    padding: 0 10px 0 10px;
                    color: white;
                    font: 1.4em normal Arial;
                }

                    body header nav ul li a.selected {
                        font-weight: bold;
                    }

                body header nav ul li:hover > a {
                    text-decoration: underline;
                    color: #a8a8a8;
                }

                    body header nav ul li:hover > a + ul {
                        display: block;
                    }

                body header nav ul li ul.sub-nav-list {
                    position: absolute;
                    display: none;
                    background-color: rgba(179, 94, 243, 0.9);
                    border-radius: 5px;
                }

                body header nav ul li ul li {
                    float: none;
                    margin: 0 15px;
                    padding: 10px 0;
                    border-bottom: 1px solid black;
                }

                    body header nav ul li ul li:last-of-type {
                        border-bottom: none;
                    }

                    body header nav ul li ul li > a {
                        font-size: 1.2em;
                        color: #fff;
                    }

#textField article { color:white;
             border-top-right-radius: 20px;
            border-bottom-right-radius:20px;
            border-bottom-left-radius: 20px;
            border-top-left-radius:20px;
}

    #textField article a {
    color:purple;
    text-decoration: none;
    }
    #textField article a:hover {
     color:mediumpurple; 
     text-decoration:none; 
     cursor:pointer; 
    }


    body section {
        width: 75%;
        float: left;
        color: black;
    }

        body section article {
            margin: 20px;
            padding: 20px;
            border: 1px solid black;
        }

            body section article header {
                background: none;
                padding: 5px;
            }

                body section article header h1 {
                    font-size: 1.4em;
                    padding: 0;
                }

            body section article footer {
                padding: 5px;
            }

                body section article footer p {
                    font-size: 16px;
                    text-align: right;
                    font-weight: normal;
                }

                    body section article footer p time {
                        font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
                    }

                    body section article footer p a {
                        text-decoration: none;
                    }

                        body section article footer p a:hover {
                            text-decoration: underline;
                        }

    body aside {
        float: left;
        width: 20%;
        margin: 20px;
    }

        body aside > ul {
            list-style-type: none;
        }

            body aside > ul > li {
                margin: 15px 0;
                padding: 15px;
                border: 1px solid black;
                border-radius: 5px;
            }

                body aside > ul > li h2 {
                    font-size: 1.1em;
                    font-weight: bold;
                }

                body aside > ul > li p {
                    margin-top: 10px;
                    margin-right: 5px;
                    margin-bottom: 10px;
                    margin-left: 5px;
                    font-size: 14px;
                }

                    body aside > ul > li p a {
                        color: #aaaaaa;
                        text-decoration: none;
                    }

                    body aside > ul > li p strong {
                        color: #cccccc;
                        font-weight: bold;
                        font-style: normal;
                    }

                    body aside > ul > li p em {
                        color: #cccccc;
                        font-weight: normal;
                        font-style: italic;
                    }

                body aside > ul > li ul {
                    list-style-type: none;
                    margin-top: 10px;
                    margin-right: 0;
                    margin-bottom: 10px;
                    margin-left: 0px;
                }

                    body aside > ul > li ul li {
                        margin-top: 5px;
                        margin-left: 10px;
                        margin-bottom: 0px;
                        margin-right: 0px;
                        background: url(images/li-dot.png) no-repeat;
                        background-position: 0 50%;
                        padding-left: 25px;
                    }

#ulList2 {    
    padding-right:5px;
    vertical-align:central;
    list-style-image:url('http://prikachi.com/images/91/5742091E.png');
    list-style-position:inside;    
}

#ulList2 li{
    padding-left: 14px; 
}


    body footer {
        clear: both;
        padding-top: 15px;
        padding-bottom: 25px;
        padding-right: 0px;
        padding-left: 0px;
    }

        body footer p {
            text-align:center;
            font-size: 1.2em;
            font-weight: bold;
        }