/*styles*/
ul {
    border: none;
    list-style: none;
    width: 80px;
    height: 140px;
    overflow-x: hidden;
    overflow-y: scroll ;
    border-top-left-radius: 10px;
    background: linear-gradient(rgb(130, 106, 255), rgb(245, 245, 255));
}

ul li {
    margin-left: -40px;
    border-bottom: 1px solid black;
    padding-left: 15px;
    
}

    ul li:first-letter {
        text-decoration: underline;
    }

    ul li:last-of-type {
        border-bottom: none;    
    }

li.selected {
    background: rgb(110,80,255);
}











/*positions*/
ul.all-items {
    position: relative;
}

a.btn-unselect {
    position: absolute;
    margin-left: 130px;
    margin-top: -100px;
}

a.btn-select {
    position: absolute;
    margin-left: 160px;
    margin-top: -100px;
}

ul.selected-items {
    position: absolute;
    margin-left: 190px;
    margin-top: -157px;
}









