h1 {text-align:center;
}
#vseki1 {background-color:red;
}
#vseki2 {background-color:red;
}
#vseki3 {background-color:red;
}
#vseki4 {background-color:red;
}
#predi1 {background-color:green;
}
#predi2 {background-color:green;
}
#predi3 {background-color:green;
}
#sled {background-color:yellow;
}
#sled2 {background-color:yellow;
}
body {
}
