html, body, div button, canvas, h1, h2, h3, p{
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
}
ul {
	list-style:none;
}
img{
	border:none;
}
#tabs{
      width:960px;
      margin:50px;
}
#about {
	font-size: 22px;
	padding-bottom: 10px;
	font-weight: bold;
	text-decoration: underline;
}
#team {
	font-size: 20px;
	padding-bottom: 5px;
	font-weight: bold;
}